footer{
    display: flex;
    margin-top: 10vh;
    background-color: $secondary-colour;
    h3{
        font-size: 1.5em;
        color: black;
    }
    .contact{
        padding: 32px;
        width: 50%;
        .email{
          text-decoration: none; 
          color: $color-link; 
          font-size: 2em;
        }
        a{
            text-decoration: none;
            color: black;
        }
        
    }
   .social{
       padding: 32px;
       width: 50%;
       a{
           text-decoration: none;
           font-size: 1.5em;
           display: block;
           color: black;
           &:hover{
               color:darkcyan;
               transform: scale(1.1);
           }
       }

   }
}