footer{
    margin-top: 10vh;
    background-color: $secondary-colour;
    display: flex;
    .contact{
        width: 50%;
        padding: 32px;
        a{
            text-decoration: none;
            color: $color-text;
            font-size: 2em;
            padding-left: 20px;
        }
    }
    .social{
        width: 50%;
        padding: 32px;
        a{
            text-decoration: none;
            color: $color-link;
        }
    }
}