@import url('https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap');
/*Colors*/
$secondary-colour: #B8D2BE;
$color-text: #BE6969;
$color-uniqueLetter:#E08C4E;
$color-bg: #FFF9F4;
$color-link: #BE6969;
$color-link-hover: #000;

/*Font*/
$bebas :'Bebas Neue', cursive;
$roboto:'Roboto', sans-serif;
$tenorSans : 'Tenor Sans', sans-serif;
$quicksand : 'Quicksand', sans-serif;