*, ::before, ::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    --res: calc(0.01 * 10vmin)
}
body{
    background: #4361EE;
   
}
h1{
    font-size: 10rem;
    color: #EF4135;
}
h2{
    margin-top: 10vh;
    font-size: calc(30 * var(--res));
}


.glass{
    display: flex;
    
    height: 90vh;
    width: 95vw;
    margin: auto;
    transform: translateY( 6%);
    background-color:  #fff;
    border-radius: 2rem;
    color: #000;
    
}

#header-txt{
    width: 50%;
    padding: calc(180 * var(--res)) 0 0 calc(150 * var(--res));
}
#nameAnim{
    
    font-size: calc(30 * var(--res));

}
.jobAnim{
    font-size: calc(52 * var(--res));
}
.Typewriter__cursor{

    font-size: calc(60 * var(--res));
}
.txtIntro{
    margin-top: 5vh;
    font-size: clamp(5px, 2rem, 25px);
}

#onOffBtn{
    position: absolute;
    top: 40vh;
    right: 20vw;
    width: calc(250 * var(--res));
    height: calc(250 * var(--res));

    background: #fff;
    border: 2px solid #000;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 3px 5px 7px 2px rgba(0,0,0,0.87);
    transform: scale(1);
    transition: transform 0.3s ease-in-out; 
}
#onOffBtn:hover{
    transform: scale(1.2);
}
.onOffIcon{
    width: 70%;
    height: 70%;

}

/*Gestionpanneau d'affichage des projets*/

.items{

    opacity: 0;
    display:none;
    
}
.panel-left, .panel-right{
    height:100vh;
    width: 90%;
  
   margin: auto;
   display: flex;
}
.container-carte{
    width: 50%;
    height: 80%;

}
.carte{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    
}

.img-zoom{
    width: auto;
    height: 100%;
    transform: scale(1);
    transition: transform 0.5s ease-in-out;
    will-change: transform;
    cursor: pointer;
}

.carte:hover .img-zoom{
    transform: scale(1.3)
}

.project-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    
    font-size: calc(20 * var(--res));
}
.project-header{
    margin-bottom: 50px;
}
.date, .projetType{
    color: #9a8c98;
}
.text{
    max-width: 500px;
}
.link-wrapper{
    margin-top: 50px;
}
.link-wrapper::after{
    content: '';
    display: block;
    position: absolute;
    height: 3px;
    width: 4%;
    margin: auto;
    background:#000;
    transform: scale(0);
    transition: transform 0.3s ease-in-out;
}
.link-wrapper > a{
    margin-left: 20px;
    text-decoration: none;
    color: black;
}
.link-wrapper:hover::after, .link-wrapper:focus::after{
    transform: scaleX(1);
    
}

/*Ecran en dessous de 700px*/
@media screen and (max-width:700px){
    .glass{
        flex-direction: column;
    }

    #header-txt{
        width: 100%;
    }
    .onOff-wrapper{
        width: 100%;
    }

}