*, ::before, ::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
    transform: scale(1);
    transition: transform 0.2s ease-in-out;
}
li:hover, li:focus{
    transform: scale(1.2);
}
html{
    --res: calc(0.01 * 10vmin)
}

h1{
    font-size: 10rem;
    color: #EF4135;
}
h2{
    margin-top: 10vh;
    font-size: calc(30 * var(--res));
}
h3{
    margin-top: 20px;
    font-size: calc(20 * var(--res));
    color: #EF4135;
}

header{
    background: #4361EE;
    height: 100vh;
}
.glass{
    display: flex;
    
    height: 90vh;
    width: 95vw;
    margin: auto;
    transform: translateY( 6%);
    background-color:  #fff;
    border-radius: 2rem;
    color: #000;
    
}

#header-txt{
    width: 50%;
    padding: calc(180 * var(--res)) 0 0 calc(150 * var(--res));
}
#nameAnim{
    
    font-size: calc(30 * var(--res));

}
.jobAnim{
    font-size: calc(52 * var(--res));
}
.Typewriter__cursor{

    font-size: calc(60 * var(--res));
}
.txtIntro{
    margin-top: 5vh;
    font-size: clamp(5px, 2rem, 25px);
}

#onOffBtn{
    position: absolute;
    top: 40vh;
    right: 20vw;
    width: calc(250 * var(--res));
    height: calc(250 * var(--res));

    background: #fff;
    border-radius: 50%;
    cursor: pointer;
    transform: scale(1);

}
#onOffBtn:hover{
    transform: scale(1.2);
}
.onOffIcon{
    width: 70%;
    height: 70%;

}
#onOffBtn:focus +  .onOffIcon{
    transform: rotate(45deg);
}
/*SNS*/
.SNS{
    width: 100%;
    height: 10vh;
    padding: 0 32px 32px 0;
    
}
.SNS ul{
    width: 10%;
    display: flex;
    justify-content: space-around;
    padding: 15px;
    background: #47BFEC;
    border-radius: 0 0 13px 0;
}
/*Background bateau*/
section{
    width: 100%;
    height: 150vh;

    position: relative;
}
.curvy-line{
    position:absolute;
    left: 0;
    width: 100%;
    z-index: 1;
}
.upLine{
    bottom: 50%;

}
.downLine{
    bottom: 20%;

}
.img-boat{
    position: absolute;
    bottom: 30%;
    right: 0;
}
.card{
    height: 530px;
    background: #f6fff8;
    width: calc(430* var(--res));
    min-width: 300px ;
    box-shadow: 9px 10px 14px -5px #7a918d;
    z-index: 2000;
}
.card:hover, .card:focus{
    box-shadow: 12px 13px 16px -5px #7a918d;
    transition: box-shadow 0.2s ease-in-out;
}
.card-upline{
    
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 75%;
    margin: auto;
    position: absolute;
    left: 12%;
    bottom: 45%;
}
.card-downline{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 75%;
    margin: auto;
    position: absolute;
    left: 9%;
    bottom: 10%;
}
.card > a{
    text-decoration: none;
    color: black;
}
figure{
    z-index: 10;
    margin: auto;
    width: 95%;
    height: 70%;
    overflow: hidden;
}
figure > img{
    margin-top: 10px;
    width: 100%;
    height: auto;
    
    
}
figcaption{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85%;
    margin: auto;
}
.project-details{
    margin-top: 20px;
}
.stack{
    margin-top: 20px;
    font-weight: bold;
    color:#006d77;
}
/*Gestionpanneau d'affichage des projets*/

.items{

    opacity: 0;
    display:none;
    
}
.panel-left, .panel-right{
    height:100vh;
    width: 90%;
  
   margin: auto;
   display: flex;
}
.container-carte{
    width: 50%;
    height: 80%;

}
.carte{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    
}

.img-zoom{
    width: auto;
    height: 100%;
    transform: scale(1);
    transition: transform 0.5s ease-in-out;
    will-change: transform;
    cursor: pointer;
}

.carte:hover .img-zoom{
    transform: scale(1.3)
}

.project-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    
    font-size: calc(20 * var(--res));
}
.project-header{
    margin-bottom: 50px;
}
.date, .projetType{
    color: #9a8c98;
}
.text{
    max-width: 500px;
}
.link-wrapper{
    margin-top: 50px;
}
.link-wrapper::after{
    content: '';
    display: block;
    position: absolute;
    height: 3px;
    width: 4%;
    margin: auto;
    background:#000;
    transform: scale(0);
    transition: transform 0.3s ease-in-out;
}
.link-wrapper > a{
    margin-left: 20px;
    text-decoration: none;
    color: black;
}
.link-wrapper:hover::after, .link-wrapper:focus::after{
    transform: scaleX(1);
    
}

/*Ecran en dessous de 700px*/
@media screen and (max-width:1510px){
    section{
        height: 250vh;
    }
    .card{
        margin-top: 20px;
    }
}
@media screen  and (max-width:1000px) {
    section{
        height:350vh;
    }
}
@media screen and (max-width:700px){
    .glass{
        flex-direction: column;
    }

    #header-txt{
        width: 100%;
    }
    .onOff-wrapper{
        width: 100%;
    }

}